
<div class="modal fade" id="OrderQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OrderQuestionModalTitle">الترتيب  </h5>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">

                            <div class="card-body">
                                <!-- Nav tabs -->
                                <div class="basic-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-content">
                                                <div class="nestable">
                                                    <div class="dd" id="nestable">
                                                        <ol class="dd-list" id="divOrderedQuestions">
                                                            @*<li class="dd-item" data-id="2">
                                                                    <div class="dd-handle"><span class="dd-item-index">2</span><span class="dd-item-text">Item 2</span></div>
                                                                </li>
                                                                <li class="dd-item" data-id="3">
                                                                    <div class="dd-handle"><span class="dd-item-index">3</span><span class="dd-item-text">Item 3</span></div>
                                                                </li>
                                                                <li class="dd-item" data-id="4">
                                                                    <div class="dd-handle"><span class="dd-item-index">4</span><span class="dd-item-text">Item 4</span></div>
                                                                </li>
                                                                <li class="dd-item" data-id="5">
                                                                    <div class="dd-handle"><span class="dd-item-index">5</span><span class="dd-item-text">Item 5</span></div>
                                                                </li>
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="dd-handle"><span class="dd-item-index">6</span><span class="dd-item-text">Item 6</span></div>
                                                                </li>*@
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="SaveQuestionsOrder()" id="btnSave">حفظ</button>

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="close-modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>





</div>





