<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <table id="tbl" class="table align-middle datatable dt-responsive table-check nowrap dataTable no-footer">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> المفتش</th>
                                <th>المحطة </th>
                                <th>وقت الزيارة</th>
                                <th>التفاصيل</th>
                                <th>الاجراء</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th> المفتش</th>
                                <th>المحطة </th>
                                <th>وقت الزيارة</th>
                                <th>التفاصيل</th>
                                <th>الاجراء</th>

                                <th>
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
