@model IEnumerable<VisitQuestionsDTO>;
@{ int index = 1;}


@foreach (var question in Model.OrderBy(p=>p.OrderNo))
{
    <tr>
        <td>@(index)</td>
       <td>@question.QuestionText</td>
        <td>
            <table class="table table-striped">
                <tbody>
                    @foreach (var answer in question.lstAnswers)
                    {
                        <tr>
                            <td>
                                <label>@answer.CategoryText</label>
                            </td>
                            <td>
                                <label>@answer.AnswerText</label>
                            </td>

                        </tr>
                    }
                   




                </tbody>
            </table>
        </td>
    </tr>

    index++;

}
